src/booklist.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www-users.york.ac.uk/~rjm529/booklist.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www-users.york.ac.uk/~rjm529/booklist.xsd"

	elementFormDefault="qualified" >
	
    <xs:complexType name="book">
    	<xs:attribute name="name" type="xs:string"></xs:attribute>
    	<xs:attribute name="xmlfilename" type="xs:string"></xs:attribute>
    	<xs:attribute name="description" type="xs:string"></xs:attribute>
    	<xs:attribute name="coverfilename" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:element name="booklist" type="book"></xs:element>
    </xs:schema>
