src/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/schema" xmlns:tns="http://www.example.org/schema" elementFormDefault="qualified">



    <complexType name="slideshow">
    	<sequence>
    		<element name="documentinfo" type="tns:documentinfo" maxOccurs="1" minOccurs="1"></element>
    		<element name="defaults" type="tns:defaults" maxOccurs="1" minOccurs="1"></element>
    		<element name="slide" type="tns:slide" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="documentinfo">
    	<sequence>
    		<element name="author" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="version" type="string" minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="comment" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="width" type="int" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="height" type="int" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>


    <element name="slideshow" type="tns:slideshow"></element>

    <complexType name="slide">
    	<sequence>
    	</sequence>
    </complexType>

    <complexType name="defaults">
    	<sequence>
    		<element name="backgroundcolour" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="font" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="fontsize" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="fontcolour" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="linecolour" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="fillcolour" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    	</sequence>
    </complexType>
</schema>