src/systemlist.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www-users.york.ac.uk/~rjm529/systemlist.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www-users.york.ac.uk/~rjm529/systemlist.xsd"

	elementFormDefault="qualified" >
	
    <xs:complexType name="system">
    	<xs:attribute name="name" type="xs:string"></xs:attribute>
    	<xs:attribute name="xmlfilename" type="xs:string"></xs:attribute>
    	<xs:attribute name="description" type="xs:string"></xs:attribute>
    	<xs:attribute name="logofilename" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:element name="systemlist" type="system"></xs:element>
    </xs:schema>
